@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap');

.navbar {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 4px;
  font-family: 'Inria Serif', serif;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
}

.navbar-logo img {
  height: 100px;
  cursor: pointer;
}


.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #c7b352;
}


.navbar-links li:last-child a {
  border: 1.5px solid #C6B251;
  padding: 8px 14px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.navbar-links li:last-child a:hover {
  background-color: #C6B251;
  color: #000;
}


.navbar-toggle {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
}


@media (max-width: 768px) {
  .navbar {
    padding: 16px 20px;
    background-color: rgba(0, 0, 0, 0.9);
    width: 96%;
  }

  .navbar-logo img {
    height: 55px;
  }

  .navbar-toggle {
    display: block;
  }


  .navbar-links {
    position: absolute;
    top: 80px;                        
    left: 0;
    width: 98%;
    background: rgba(0, 0, 0, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }


  .navbar-links.open {
    height: 260px; 
    padding: 1.5rem 0;
  }

  .navbar-links li:last-child a {
    width: 140px;
    text-align: center;
  }
}
